{% extends 'instagram/layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top:7%;">
    <div class="card">
        <div class="row">
            <div class="col-md-8 ml-3"
                 style="background-image:url({{ image.image.url }});;background-size: contain; background-repeat:no-repeat">
                <img src="{{image.image.url}}" style="visibility: hidden;" class="card-img" width="100%"/>
            </div>
            <div class="col-md-3 mt-2">
                <img src="{{image.user.profile_picture.url}}" class="rounded-circle border ml-3 mt-2  mr-3"
                     alt="{{image.user.user.username}}" width="35" height="35">
                <a href="{% url 'user_profile' image.user.user.username %}" class="mt-4 user">{{image.user.user.username | title}}</a>

                <hr style="width:96%">
                {% for comment in image.comments.all %}
                <div class="comment">
                    <div class="ml-2"><strong>{{ comment.user.user.username }}</strong> <span class="text-secondary">{{ comment.comment }}</span>
                    </div>
                </div>
                {% empty %}
                <p class="ml-3">No comments here yet</p>
                {% endfor %}
                <hr style="width:96%; margin-top:84%;">
                <div id="like-section">
                    {% include 'instagram/like_section.html' %}
                </div>
                <form class="form" action="" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-10">
                            {{ form|crispy }}
                        </div>
                        <div class="col-md-2 mt-4" >
                            <button type="submit" class="btn btn-sm btn-outline-primary" style="margin-top:14px; margin-left:-10px">post</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
{% endblock %}
<style>
    body {
    background: #eee
}

.date {
    font-size: 11px
}

.comment-text {
    font-size: 12px
}

.fs-12 {
    font-size: 12px
}

.shadow-none {
    box-shadow: none
}

.name {
    color: #007bff
}

.cursor:hover {
    color: blue
}

.cursor {
    cursor: pointer
}

.textarea {
    resize: none
}
</style>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="{{image.user.profile_picture.url}}" width="40">
                        <div class="d-flex flex-column justify-content-start ml-2"><span class="d-block font-weight-bold name"><a href="{% url 'user_profile' image.user.user.username %}" class="mt-4 user">{{image.user.user.username | title}}</a></span><span class="date text-black-50">Shared publicly - Jan 2020</span></div>
                    </div>
                    <div class="mt-2">
                        <p class="comment-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                </div>
                <div class="bg-white">
                    <div class="d-flex flex-row fs-12">
                        <div class="like p-2 cursor"><i class="fa fa-thumbs-o-up"></i><span class="ml-1">Like</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1">Comment</span></div>
                        <div class="like p-2 cursor"><i class="fa fa-share"></i><span class="ml-1">Share</span></div>
                    </div>
                </div>
                <div class="bg-light p-2">
                    <div class="d-flex flex-row align-items-start"><img class="rounded-circle" src="{{image.user.profile_picture.url}}" width="40"><textarea class="form-control ml-1 shadow-none textarea"></textarea></div>
                    <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button">Post comment</button><button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button></div>
                </div>
            </div>
        </div>
    </div>
</div>